/virt
/Uniclox
/1 - Other Info
/2 - EXE
/.vscode
/Project/Badge Numbers/
/Project/Baker Cashier/
/Project/Carwash Times/
/Project/NOTES.txt
/Project/Public Holidays/
/Project/Rosters/
/Project/Wage Times.xlsx
/Project/__pycache__/
/Project/wageTimes.db
/Project/payroll
/Project/Uniclox
/Project/Copy Folder
/Project/Tax
/Project/Payslips
/Project/Templates
